*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:sans-serif;
    font-size: 18px;
    padding: 50px 100px 0px 100px;
   
}
.half-width h1{
    margin-bottom: 30px;
    font-size: 48px;
    margin-top: 100px;
    

}
.miss{
    color: rgba(145, 85, 201, 0.774);
}
.border{
    border-left: 5px solid red;
    border-radius: 5px;
}
p{
    margin-bottom: 16px;
}
.explore{
    background-color: rgba(162, 49, 238, 0.836);
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    
    
}
.scroll{
    margin-top: 15px;
}
.flex-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 85%;
}
.mission-heading{
    text-align: center;
    padding: 25px;
    font-size: 40px;
}
.mission-item{
    margin-right: 15px;
    padding: 20px;
    background-color: rgba(57, 35, 153, 0.473);
    border-radius: 18px;
}
.mission-item h1{
    margin-bottom: 18px;
}
.mission img{
    width: 150px;
    
}
#mission{
    background-color: rgba(170, 60, 243, 0.541);
}
#vission{
background-color: rgba(118, 83, 214, 0.575);
}
#goals{
    background-color: rgba(30, 17, 88, 0.575);
}
.footer{
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 60px;
    
}
.footer h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer p{
    font-size: 12px;
}
.foot{
    color: #ec0000;
}